html, body, figure, figcaption, ul, li, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-family: "Comic Sans MS";
  text-align: inherit;
}

html {
  background: url(../assets/bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

ul {
  list-style: none;
}

body {
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
}

h1 {
  font-size: 60px;
  margin: 30px;
  color: lightgreen;
}

figure {
  display: inline-block;
  border: 10px solid black;
  background: skyblue;
}

ul {
}

ul:after {
  content: "";
  clear: both;
  display: block;
}

li {
  float: left;
  width: 20px;
  height: 20px;
}

.apple {
  background: url(../assets/mushroom.png) no-repeat;
}

.snake {
  background: url(../assets/slime.png) no-repeat;
}

.play-container {
  display: flex;
  width: 400px;
  margin: 0 auto;
  justify-content: space-around;
}

.score-outer, .play {
  color: lightgreen;
  font-size: 30px;
  font-family: "Comic Sans MS";
  margin: 10px;
}

.play {
  border: 3px solid lightgreen;
  border-radius: 10px;
  padding: 0 8px 0 8px;
}

.play:hover {
  text-decoration: underline;
  cursor: pointer;
}

.title-container {
  position: relative;
  height: 140px;
}
.title-logo {
  background: url(../assets/title.png) no-repeat;
  margin: 0 auto;
  height: inherit;
  width: 913px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
