html, body, figure, figcaption, ul, li, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-family: "Comic Sans MS";
  text-align: inherit;
}

html {
  background: url(../assets/bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

ul {
  list-style: none;
}

body {
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
}

h1 {
  font-size: 60px;
  margin: 30px;
  color: lightgreen;
}

figure {
  display: inline-block;
  border: 10px solid black;
  background: white;
}

ul {
}

ul:after {
  content: "";
  clear: both;
  display: block;
}

li {
  float: left;
  width: 20px;
  height: 20px;
}

.apple {
  background: url(../assets/mushroom.png) no-repeat;
}

.snake {
  background: url(../assets/slime.png) no-repeat;
}

.score-outer {
  color: lightgreen;
  font-size: 30px;
  font-family: "Comic Sans MS";
}
